* {
    box-sizing: border-box;
  }

body {
    background-color: #333333;
    color: #fcfcfc;
    display: flex;
}

a {
    color: #fcfcfc;
}

ul{
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    height: 10vh;
    background-color: #2e2e2e;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    color: white;

    font-size: 3em;
    text-decoration: none;
}

ul .navLeft {
    padding: 0px;
    margin: auto 2rem;
}

ul .spacer{
    flex:1;
}

ul .navRight{
    display: flex;
    padding: 0px;
    text-align: right;
}

ul .navRight li{
    margin: auto 2rem;
}

.title{
    font-size: 2em;
    font-weight: bold;
}


ul li a:hover {
    color: red;
}
