* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1c1c1c;
    color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 2rem;

    width: 100vw;
    height: 100vh;
}

a {
    color: #fcfcfc;
}

/* Navigation Bar */
.navBar ul {
    display: flex;
    flex-wrap: nowrap;

    width: 100vw;
    height: 10vh;
    background-color: #121212;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    color: white;
    font-size: 3em;
    text-decoration: none;
}

/* space between nav side */
.spacer{
    flex:1;
}

/* left */
.navLeft {
    /* margin: auto 2rem; */
    padding: 0px 2rem;

    display: flex;
    align-items: center;  
}

.navLeft:hover{
    background-color: #575756;
}

/* right */
.navRight{
    display: flex;
    text-align: right;
    align-items: center; 
    padding: 0px 2rem;
}

.navRight:hover{
    background-color: #575756;
}

.title{ 
    font-size: 1.5em;
    font-family: 'Playwrite DE Grund', sans-serif;
    font-weight: bold;

    padding: 0px 2rem;
}

/* Input Body */
.inputBody {
    display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    list-style: none;
    margin: 0;
    padding: 0;

    width: 50vmin;
    height: 50vmin;

}

.inputRows {
    display: grid;
    gap: 0.5rem;

    list-style: none;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}


.inputCell {
    aspect-ratio: 1;
    width: 100%;
    border: 4px solid rgb(92, 91, 91);
    border-radius: 0.5rem;
}

/* Keyboard */
.keyboard {
    flex:1;

    display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    list-style: none;
    margin: 0 auto 5vh auto;
    padding: 0;

    width: 60%;

    border: 2px solid rgb(255, 255, 255);
}

.kbRow1, .kbRow2, .kbRow3 {
    display: grid;
    gap: 0.5rem;

    list-style: none;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}

.keyboardCell {
    aspect-ratio: 1;
    width: 100%;
    border: 4px solid rgb(92, 91, 91);
    border-radius: 0.5rem;
}
