body {
    background-color: #333333;
    color: #fcfcfc;
    display: flex;
}

a {
    color: #fcfcfc;
}

.navBar{
    width: 100vw;
    height: 10vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: #2e2e2e;
}