* {
    box-sizing: border-box;
  }

body {
    background-color: #333333;
    color: #fcfcfc;
    display: flex;
}

a {
    color: #fcfcfc;
}

/* Navigation Bar */

ul{
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    height: 10vh;
    background-color: #2e2e2e;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    color: white;

    font-size: 3em;
    text-decoration: none;
}

/* space between nav side */
ul .spacer{
    flex:1;
}

/*left*/
ul .navLeft {
    /* margin: auto 2rem; */
    padding: 0px 2rem;

    display: flex;
    align-items: center;  
}

ul .navLeft:hover{
    background-color: #575756;
}

/*right*/
ul .navRight{
    display: flex;
    text-align: right;
}

ul .navRight li{
    display: flex;
    align-items: center; 
    padding: 0px 2rem;
}

ul .navRight li:hover{
    background-color: #575756;
}

.title{ 
    font-size: 1.5em;
    font-family: 'Playwrite DE Grund', sans-serif;
    font-weight: bold;

    padding: 0px 2rem;
}



